.index
  .splash-container
    z-index: 1
    overflow: hidden
    width: 100%
    height: 60%
    top: 0
    left: 0
    position: fixed

  .splash
    margin: auto
    position: absolute
    top: 50px
    left: 0
    bottom: 0
    right: 0
    background-color: #eee

    .logo
      height: 60%
      max-width: 80%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      animation: splash-slide-in 1.2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s backwards

  .content-container
    position: absolute
    top: 60%
    width: 100%
    min-height: 40%
    z-index: 2
    background: white

    >.btn-show-content
      width: 100%

  .section-spacer
    background-color: #eee
    width: 100%
    height: 100px

@keyframes splash-slide-in
  from
    top: 100%
    transform: translate(-50%, 0)
  to
    top: 50%
    transform: translate(-50%, -50%)
