#contact
  background-color: #eee
  padding: 15px 0

  .contact-item
    text-align: center

    &:hover
      background-color: #ddd

    i
      margin-top: 20px
      margin-top: 20px
      color: #0083AE
      font-size: 5em

    .description
      font-family: 'Montserrat', sans-serif
      font-weight: bold
      text-align: center
      display: table
      width: 100%
      margin-top: 20px
      margin-bottom: 20px

      span
        display: table-cell
        vertical-align: middle

    @media (min-width: 768px)
      i
        font-size: 6em
        margin-top: 35px

      .description
        height: 70px
        font-size: 1.2em
        margin-top: 35px
        margin-bottom: 35px

    @media (min-width: 1024px)
      i
        font-size: 7em
        margin-top: 50px

      .description
        height: 90px
        font-size: 1.5em
        margin-top: 50px
        margin-bottom: 50px

    .action .btn
      background-color: #eee
