#intro
  background-color: #eee
  text-align: center
  height: 100%
  position: relative

.logo
  height: 60%
  max-width: 80%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
