#wie
  padding: 100px 0

  .row-profile
    margin-top: 20px

  .profile-pic
    text-align: center
    img
      max-width: 200px
      border-radius: 100%

  .row-mandates
    margin-top: 80px

  .list-group-item
    border-radius: 0
    border: none
    background-color: transparent
