#wie
  padding: 20px 0 50px

  @media (min-width: 768px)
    padding: 70px 0 100px

  .row-profile
    margin-top: 20px

    .profile-txt h1
      margin-top: 0

  .profile-pic
    text-align: center
    img
      max-width: 200px
      border-radius: 100%

      @media (max-width: 767px)
        margin-bottom: 40px

  .row-mandates
    margin-top: 80px

  .list-group
    margin-bottom: 0

  .list-group-item
    border-radius: 0
    border: none
    background-color: transparent
