body
  margin: 0
  padding: 0
  font-family: 'Open Sans', sans-serif
  font-weight: lighter
  color: #014662

.splash-container
  z-index: 1
  overflow: hidden
  width: 100%
  height: 50%
  top: 0
  left: 0
  position: fixed

.splash
  margin: auto
  position: absolute
  top: 50px
  left: 0
  bottom: 0
  right: 0
  text-align: center
  text-transform: uppercase

.content-container
  position: absolute
  top: 50%
  width: 100%
  min-height: 50%
  z-index: 2
  background: white

h1, h2, h3, h4, h5
  font-family: 'Montserrat', sans-serif
  color: #0083AE
  font-weight: bold
h1
  color: #000

a
  position: relative
  transition: color 0.3s ease-in-out 0s

  &:before
    content: ""
    position: absolute
    width: 100%
    height: 1px
    bottom: 0
    left: 0
    background-color: #014662
    visibility: hidden
    transform: scaleX(0)
    transition: all 0.3s ease-in-out 0s

  &:hover
    text-decoration: none
    &:before
      visibility: visible
      transform: scaleX(1)
